
html {scroll-behavior: smooth;}
.berita{padding:16px;border: 1px solid #cfcfcf;}
.link{color:#ed213a;}
.link:hover{color:#944191}
.pr30{padding-right: 30px;}
.np{padding: 0px;}
.align-center{text-align: center;}
.bg-grey{background-color: #E8E8E8;}
.thumb-kompres{width: 80%; margin-top: 10px;}
.caption-kompres p{color: black; text-align:justify; font-weight: normal !important;}
.caption-kompres span{color: black; text-align:justify; font-weight: normal !important;}
.ordered-list-kompres li{ list-style-type: decimal;font-weight: normal !important; margin-left: 30px; color: black !important;}
.table-kompres{color: black; font-weight: normal !important;}
.table-kompres-body{margin-left: 30px !important;}
.ordered-list-tahap-dan-prosedur li{ list-style-type: lower-latin;font-weight: normal !important; margin-left: 30px; color: black !important;}
.animate-scroll{animation-duration: 1s;}
/*-----START CSS PANEL TAHAP DAN PROSEDUR-----*/
.project-tab {
	padding: 10%;
	margin-top: -8%;
}
.project-tab #tabs{
	background: #007b5e;
	color: #eee;
}
.project-tab #tabs h6.section-title{
	color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #0062cc;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 3px solid !important;
	font-size: 16px;
	font-weight: bold;
}
.project-tab .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #0062cc;
	font-size: 16px;
	font-weight: 600;
}
.project-tab .nav-link:hover {
	border: none;
}
.project-tab thead{
	background: #f3f3f3;
	color: #333;
}
.project-tab a{
	text-decoration: none;
	color: #333;
	font-weight: 600;
}

.thumb{
	width: 72px;
	height: auto;
}

.outer-img{
	width: 80px;
	height: 70px;
}

* {
	margin: 0;
	padding: 0
}

/*START SECTION 1 CSS*/
ul.timeline {
	list-style-type: none;
	position: relative;
	padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
	content: ' ';
	background: #ebebeb;
	display: inline-block;
	position: absolute;
	left: 16px;
	width: 4px;
	height: 100%;
	z-index: 400;
	border-radius: 1rem;
}

li.timeline-item {
	margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
	border-top: 0.5rem solid transparent;
	border-right: 0.5rem solid #ebebeb;
	border-bottom: 0.5rem solid transparent;
	display: block;
	position: absolute;
	left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
	content: ' ';
	background: #ddd;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #ebebeb;
	left: 11px;
	width: 14px;
	height: 14px;
	z-index: 400;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-gray {
	color: #000;
}

.mt-s1{
	margin-top: 55px !important;
}

.fw-600{
	font-weight: 600 !important;
}

.fw-400{
	font-weight: 400 !important;
}

ul {
	margin: 0;
	padding-left: 15px;
}
ul.dashed {
	list-style-type: none;
}
ul.dashed > li {
	text-indent: -5px;
}
ul.dashed > li:before {
	content: "-";
	text-indent: -5px;
}

/*END SECTION 1 CSS*/

html {
	height: 100%
}

.d-block{
	display: block;
	z-index: 0;
}

#msform {
	text-align: center;
	position: relative;
	margin-top: 20px
}

#msform fieldset .form-card {
	/* background: white; */
	/* border: 0 none; */
	/* border-radius: 0px; */
	/* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
	/* padding: 20px 40px 30px 40px; */
	box-sizing: border-box;
	width: 94%;
	margin: 0 3% 20px 3%;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position: relative
}

#msform fieldset:not(:first-of-type) {
	display: none
}

#msform fieldset .form-card {
	text-align: left;
	color: #9E9E9E;
}

#msform input,
#msform textarea {
	padding: 0px 8px 4px 8px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 16px;
	letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	font-weight: bold;
	border-bottom: 2px solid skyblue;
	outline-width: 0
}

#msform .action-button {
	width: 100px;
	/* background: #007bff; */
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 8px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
	width: 100px;
	background: #616161;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 8px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
	border: none;
	outline: 0;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px 3px 5px;
	margin: 2px
}

select.list-dt:focus {
	border-bottom: 2px solid skyblue
}

.card {
	z-index: 0;
	border: none;
	border-radius: 0.5rem;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: #2C3E50;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #000000
}

#progressbar li {
	list-style-type: none;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative
}

#progressbar #account:before {
	font-family: FontAwesome;
	content: "\f023"
}

#progressbar #personal:before {
	font-family: FontAwesome;
	content: "\f007"
}

#progressbar #payment:before {
	font-family: FontAwesome;
	content: "\f09d"
}

#progressbar #confirm:before {
	font-family: FontAwesome;
	content: "\f00c"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 18px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: skyblue
}

.radio-group {
	position: relative;
	margin-bottom: 25px
}

.radio {
	display: inline-block;
	width: 204;
	height: 104;
	border-radius: 0;
	background: lightblue;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	margin: 8px 2px
}

.radio:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
	width: 100%;
	object-fit: cover
}

.mt-big{
	margin-top: 120px !important;
}

/*-----END CSS PANEL TAHAP DAN PROSEDUR-------*/

/*START CSS ADMIN*/
/*START CSS LOGIN*/
.bg-btn {
	background-image: -webkit-linear-gradient(0deg, #16B3AC 0%, #D2DC02 100%) !important;
	width: 30%;
	align-items: center;
}

/*END CSS LOGIN*/

/*START CSS DASHBOARD*/
.nav-height{
	height: 65px;
	background: rgba(22, 179, 172, 1);
	background: linear-gradient(89.74deg, #16B3AC 0.08%, rgba(68, 194, 188, 0.802083) 29.67%, rgba(208, 240, 238, 0.201751) 83.68%, rgba(255, 255, 255, 0) 99.77%), rgba(210, 220, 2, 0.8);
}

.nav-btn{
	color: #fff;
	background-color: transparent;
	border:none;
}

.sidebar-bg{
	background: rgb(235 248 251);
	/*background: linear-gradient(89.74deg, #16B3AC 0.08%, rgba(68, 194, 188, 0.802083) 29.67%, rgba(208, 240, 238, 0.201751) 83.68%, rgba(255, 255, 255, 0) 99.77%), rgba(210, 220, 2, 0.8);*/
}

.sidebar-text{
	font-family: "Poppins",sans-serif;
	color: #121136;
	line-height: 1.2em !important;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
}


.nav-text{
	font-family: "Poppins",sans-serif;
	color: #121136;
	font-size: 14pt;
	font-weight: 600;
}
.bg-non{
	background: transparent;
}

.pagination-mr{
	margin-right: 20px;
}

.box{
position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 1px rgb(0 0 0 / 10%);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.row {
    margin-right: 30px;
    margin-left: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.box-body {
    padding-left: 20px;
	padding-right: 20px;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 600px) {
	.column {
	  width: 50%;
	  float: left;
	}
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .content-text{
	font-family: "Poppins",sans-serif;
	color: #121136;
	line-height: 1.2em !important;
	padding-top: 15px;
}
.box-title{
	margin: 10px;
}

.thtable { 
	display: block; 
	overflow: scroll; 
}
.maintable { 
	table-layout: 
	fixed; width: 100% 
}
/*END CSS DASHBOARD*/
/*END CSS ADMIN*/

/*15 DESEMBER 2019
SECTION KOMPRES DIPINDAH KE PERTAMA. ILANGIN RAPIHIN MARGIN-PADDING LAGI PAS DI NORMALIN*/